[submodule "cairo_webauthn"]
	path = lib/cairo_webauthn
	url = https://github.com/cartridge-gg/cairo-webauthn
[submodule "cairo_base64"]
	path = lib/cairo_base64
	url = https://github.com/cartridge-gg/cairo-base64
